@import models.enums.DraftType
@import models.view.AddRfiReplyView
@import play.data.Form
@import template._
@import views.html.common.form._
@import views.html.common.page._

@this(fileUpload: fileUpload)
@(appId: String, rfiReplyForm: Form[_], addRfiReplyView: AddRfiReplyView)

<div class="message-panel message-reply-panel" id="reply" >
  <header>
    <h3 class="heading-small">Your reply</h3>
  </header>

  <article>
    <div>

      <form action="@routes.RfiTabController.submitReply(appId, addRfiReplyView.getRfiId)" method="POST" enctype="multipart/form-data">

        @views.html.helper.CSRF.formField

        @formTextarea(rfiReplyForm("replyMessage"), rows = "4", labelClass = "form-label-bold", cssClass = "form-control-wide") {
          Message
        }

        <h4 class="heading-small">Attach a file</h4>

        @fileUpload(rfiReplyForm, routes.UploadController.submitFiles(appId, DraftType.RFI_REPLY.toString, addRfiReplyView.getRfiId).toString, addRfiReplyView.getFileViews, true) {
        }

        <button class="button">Send</button>

      </form>

    </div>
  </article>

</div>
