@import models.enums.DraftType
@import models.view.AddRfiResponseView
@import play.data.Form
@import template._
@import views.html.common.form._

@(appId: String, rfiResponseForm: Form[_], addRfiResponseView: AddRfiResponseView)

<div class="message-panel message-reply-panel" id="reply" >
  <header>
    <h3 class="heading-small">Your reply</h3>
  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>

      <form action="@routes.RfiTabController.submitResponse(appId)" method="POST" enctype="multipart/form-data">

        @views.html.helper.CSRF.formField

        @formTextarea(rfiResponseForm("responseMessage"), rows = "4", cssClass = "form-control-wide") {

        }
        <input type="hidden" name="rfiId" value="@rfiResponseForm("rfiId").value" >

        <h4 class="heading-small">Attach a file</h4>
        @fileUpload(addRfiResponseView.getRfiId, DraftType.RFI_RESPONSE, addRfiResponseView.getFileViews)

        <button class="button">Send</button>

      </form>

    </div>
  </article>

</div>
