@import models.enums.DraftType
@import models.view.AddRfiReplyView
@import play.data.Form
@import template._
@import views.html.common.form._
@(appId: String, rfiReplyForm: Form[_], addRfiReplyView: AddRfiReplyView)

<div class="message-panel message-reply-panel" id="reply" >
  <header>
    <h3 class="heading-small">Your reply</h3>
  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>

      <form action="@routes.RfiTabController.submitReply(appId)" method="POST" enctype="multipart/form-data">

        @views.html.helper.CSRF.formField

        @formTextarea(rfiReplyForm("replyMessage"), rows = "4", cssClass = "form-control-wide") {

        }
        <input type="hidden" name="rfiId" value="@rfiReplyForm("rfiId").value" >

        <h4 class="heading-small">Attach a file</h4>
        @fileUpload(addRfiReplyView.getRfiId, DraftType.RFI_REPLY, addRfiReplyView.getFileViews)

        <button class="button">Send</button>

      </form>

    </div>
  </article>

</div>
