@import models.view.AddAmendmentView
@import template.fileUpload
@import views.html.common.form._

@(appId: String, heading: String, form: play.data.Form[_], addAmendmentView: AddAmendmentView, action: models.enums.Action)

<div class="message-panel amend-application-panel">

  <article>
    <h4 class="heading-small">@heading</h4>
    <div>

      <form action="@routes.AmendTabController.showAmendTab(appId)" method="POST" enctype="multipart/form-data">

        @views.html.helper.CSRF.formField

        @formTextarea(form("message"), rows = "4", cssClass = "form-control-wide") {

        }
        <input type="hidden" name="action" value="@form("action").value" >

        <h4 class="heading-small">Attach a file</h4>
        @fileUpload(appId, addAmendmentView.getDraftType, addAmendmentView.getFileViews)
        <button class="button">Send</button>
      </form>

    </div>
  </article>

</div>
