@import models.view.ApplicationSummaryView
@import template._

@(applicationSummaryView: ApplicationSummaryView)

<header class="application-summary-panel">

  <a href="@applicationSummaryView.getLicenceApplicationLink" target="_blank" class="view-application-link">
    View application<span class="visually-hidden"> (Opens in a new tab)</span>
  </a>

  <h2 class="heading-medium">
    Application details
  </h2>

  <dl class="summary-list">
    @summaryElement("Reference") {
      @applicationSummaryView.getCaseReference<br>
      @applicationSummaryView.getApplicantReference
    }

    @summaryElement("Destination") {
      @applicationSummaryView.getDestination
    }

    @summaryElement("Date submitted") {
      @applicationSummaryView.getDateSubmitted
    }

    @summaryElement("Status") {
      @applicationSummaryView.getStatus
    }

    @summaryElement("Case officer") {
      @applicationSummaryView.getCaseOfficer
    }
  </dl>

</header>
