@import models.view.ApplicationSummaryView
@import template._

@(applyLink: String, applicationSummaryView: ApplicationSummaryView, activeTab: String, rfiViewCount: Integer, message: String)(content: Html)
  @standardPage(applicationSummaryView.getCaseId + " - Export licence application", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

    @if(message != null) {
      <br>
      <div style="color: #FF0000">@message</div>
    }

  } {

    @dashboardTopNav(applyLink)

    @applicationSummaryPanel(applicationSummaryView)

    @tabs("application-tabs", size = "large", fitToPage = true) {
      @tab("Status tracker", "/application/" + applicationSummaryView.getAppId + "/status-tracker", activeTab.equals("statusTracker"))
      @tab(s"Requests for information ($rfiViewCount)", "/application/" + applicationSummaryView.getAppId + "/rfi", activeTab.equals("rfi"))
      @tab("Amend application", "/application/" + applicationSummaryView.getAppId + "/amend-application", activeTab.equals("amend"))
      @tab("Outcome documents", "/application/" + applicationSummaryView.getAppId + "/outcome-documents", activeTab.equals("outcomeDocs"))
    }

    @content

  }
