@import models.enums.DraftType
@import models.view.FileView

@(appId: String, relatedId: String, draftType: DraftType,  fileViews: java.util.List[FileView])

<script src="@controllers.common.routes.Assets.versioned("template/javascripts/jquery-file-upload/js/jquery.fileupload.js")"></script>

<div class="file-upload-drop-target">
  <div class="file-upload-help-text">Drag and drop your files here <br>or</div>
  <button class="button secondary file-upload-button" tabindex="0">Select a file</button>
  <input id="fileupload" type="file" name="files[]" data-url="@routes.UploadController.submitFiles(appId, draftType.toString, relatedId).toString" multiple>

</div>

<table id="file-list" class="form-group @if(fileViews.isEmpty) {empty-file-list}">
  <thead>
    <tr>
      <th>File name</th>
      <th style="min-width: 202px">Size</th>
      <th><span class="visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody>
  @for(file <- fileViews) {
    <tr>
      <td class="file-upload-filename"><a href="@file.getLink" target="_blank">@file.getName</a></td>
      <td class="file-upload-status">@file.getSize</td>
      <td>
        <button class=js-hidden formaction="@file.getDeleteLink">Remove</button>
        <a href="#" class="file-delete-link" data-file-properties="@file.getId">
          <div class="js-only">Remove</div>
          <span class="visually-hidden">@file.getName</span>
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>

<input name="delete-url" value = "@routes.UploadController.deleteFile(appId).toString" type="hidden">

<script src="@controllers.common.routes.Assets.versioned("template/javascripts/lite-file-upload.js")"></script>
