@import models.view.MessageView

@(messageView: MessageView)

<div class="message-panel" id="@messageView.getAnchor">
  <header>
    <h3 class="heading-small">
      @messageView.getTitle
      @if(messageView.isShowNewIndicator) {
        @newIndicator()
      }
    </h3>

    <div class="grid-row">

      <div class="column-two-thirds">
        <span class="bold">
        @if(messageView.getSentOn != null) {
          Sent on:
        } else {
          Received on:
        }
        </span>
        <span>
        @if(messageView.getSentOn != null) {
          @messageView.getSentOn
        } else {
          @messageView.getReceivedOn
        }
        </span>
      </div>

      <div class="column-one-third">
        @if(messageView.getSender != null) {
          <span class="bold">
            Sender:
          </span>
          <span>
          @messageView.getSender
          </span>
        }
      </div>

    </div>

  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>
      @Html(messageView.getMessage)
    </div>

  </article>

  @fileList(messageView.getFileViews)

</div>

@if(messageView.getMessageReplyView != null) {
@messageReplyPanel(messageView.getMessageReplyView)
}
