@import models.view.MessageReplyView

@(messageReplyView: MessageReplyView)

<div class="message-panel message-reply-panel" id="@messageReplyView.getAnchor">
  <header>
    <h3 class="heading-small">
      @messageReplyView.getTitle
      @if(messageReplyView.isShowNewIndicator) {
        @newIndicator()
      }
    </h3>

    <div class="grid-row">

      <div class="column-two-thirds">
        <span class="bold">
          Sent on:
        </span>
        <span>
        @messageReplyView.getSentOn
        </span>
      </div>

      <div class="column-one-third">
        <span class="bold">
          Sender:
        </span>
        <span>
        @messageReplyView.getSender
        </span>
      </div>

    </div>

  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>
      @Html(messageReplyView.getMessage)
    </div>

  </article>

</div>
