@import models.view.OfficerView
@import template._

@(caseReference: String, officerView: OfficerView)

@if(officerView != null) {
  <hr>

  <p>For general enquiries related to this application, please contact your case officer.</p>

  <dl class="summary-list">
    @summaryElement("Case officer") {
      @officerView.getName
      }

    @summaryElement("Telephone") {
      @telephoneLink(officerView.getTelephone)
    }

    @summaryElement("Email") {
      <a href="mailto:@officerView.getEmail?subject=@caseReference - applicant enquiry">@officerView.getEmail</a>
    }
  </dl>

  <hr>
}
