@import models.view.{InformLetterSectionView, OutcomeView}
@import views.html.common.page.{detailPanel, twoThirdsColumn}
@(outcomeViews: java.util.List[OutcomeView], informLetterSectionView: InformLetterSectionView)

@twoThirdsColumn {
<p class="bold">A decision on your application has been made.</p>

<p>Please review the documents below which state the outcome for each of the goods lines on your application.</p>

@if(!outcomeViews.isEmpty) {
<br>
<h3 class="heading-small" id="outcome-documents">Outcome documents
  @if(outcomeViews.get(0).isShowNewIndicator) {
  (new)
  }
</h3>
<ul class="outcome-documents-list">
  @for(outcomeDocumentView <- outcomeViews.get(0).getOutcomeDocumentViews) {
  <li><a href="@outcomeDocumentView.getLink">@outcomeDocumentView.getName <span class="visually-hidden">(opens in a new tab)</span></a>
  </li>
  }
</ul>
}

@informLetters(informLetterSectionView)

@if(outcomeViews.size() > 1) {
<br>
<h3 class="heading-small">Previous outcome documents</h3>
<p></p>

@detailPanel("Previous outcome documents") {View older versions of the outcome documents from this application} {

These documents have been replaced and are no longer valid.
They are available here for reference only and do not form part of your licence.

@for(i <- 1 until outcomeViews.size()) {
<br>
<h3 class="heading-small">Issued on @outcomeViews.get(i).getIssuedOn, voided on @outcomeViews.get(i).getVoidedOn</h3>
<ul class="outcome-documents-list">
  @for(outcomeDocumentView <- outcomeViews.get(i).getOutcomeDocumentViews) {
  <li><a href="@outcomeDocumentView.getLink">@outcomeDocumentView.getName <span class="visually-hidden">(opens in a new tab)</span></a>
  </li>
  }
</ul>
}

}

}

}
