@import views.html.common.page.twoThirdsColumn

@twoThirdsColumn {
  <p class="bold">A decision on your application has been made.</p>

  <p>Please review the documents below which state the outcome for each of the goods lines on your application.</p>

  <h3 class="heading-small">Outcome documents</h3>

  <ul class="outcome-documents-list">
    <li><a href="/document">
      Licence SIE2017/00001 granted for some or all of your items (PDF, 50kb)<span class="visually-hidden">
      (opens in a new tab)</span></a></li>
    <li><a href="/document">
      Letter explaining the licence refusal of some or all of your items (PDF, 21kb)<span class="visually-hidden">
      (opens in a new tab)</span></a></li>
    <li><a href="/document">
      Letter confirming that no licence is required for some or all of your items (PDF, 29kb)<span class="visually-hidden">
      (opens in a new tab)</span></a></li>
  </ul>
}
