@import models.view.{AddRfiResponseView, RfiView}
@import play.data.Form
@import template._

@(rfiViews: java.util.List[RfiView], allowResponses: Boolean, rfiResponseForm: Form[_], addRfiResponseView: AddRfiResponseView)

@for(rfiView <- rfiViews) {
  @rfiPanel(rfiView, allowResponses)
  @if(flash.containsKey(rfiView.getRfiId)) {
    <div style="color: #FF0000">@flash.get(rfiView.getRfiId)</div>
    <br>
  }
  @if(addRfiResponseView != null && addRfiResponseView.getRfiId == rfiView.getRfiId) {
    @addRfiReplyPanel(rfiView.getAppId, rfiResponseForm, addRfiResponseView)
  }
  @if(rfiView.getRfiResponseView != null) {
    @rfiReplyPanel(rfiView.getRfiResponseView)
  }
}
