@import models.view.{AddRfiReplyView, RfiView}
@import play.data.Form
@import template._

@(rfiViews: java.util.List[RfiView], rfiReplyForm: Form[_], addRfiReplyView: AddRfiReplyView)

@for(rfiView <- rfiViews) {
  @rfiPanel(rfiView)
  @if(flash.containsKey(rfiView.getRfiId)) {
    <div class="form-group form-group-error">
      <span class="error-message">@flash.get(rfiView.getRfiId)</span>
    </div>
  }
  @if(addRfiReplyView != null && addRfiReplyView.getRfiId == rfiView.getRfiId) {
    @addRfiReplyPanel(rfiView.getAppId, rfiReplyForm, addRfiReplyView)
  }
  @if(rfiView.getRfiReplyView != null) {
    @rfiReplyPanel(rfiView.getRfiReplyView)
  }
}
