@import models.view.RfiView

@(rfiView: RfiView)

<div class="message-panel" id=@rfiView.getRfiId>
  <header>
    <h3 class="heading-small">
      <span class="rfi-icon large-icon"></span>
      Request for information
      @if(rfiView.isShowNewIndicator) {
        @newIndicator()
      }
    </h3>

    <div class="grid-row">

      <div class="column-two-thirds">
        <span class="bold">
          Received on:
        </span>
        <span>
        @rfiView.getReceivedDate
        </span>
      </div>

      <div class="column-one-third">
        <span class="bold">
          Sender:
        </span>
        <span>
        @rfiView.getSender
        </span>
      </div>

    </div>

    @if(rfiView.getWithdrawnDate != null) {
      <span class="bold">
        Withdrawn on @rfiView.getWithdrawnDate - no reply needed
      </span>
    } else {
      <span class="bold">
        Reply by:
      </span>
      <span>
      @rfiView.getReplyBy
      </span>
    }

  </header>

  <article>

    <h4 class="heading-small">Message</h4>
    <div>
    @Html(rfiView.getMessage)
    </div>

    @if(rfiView.isAllowReply) {
      <a href="@routes.RfiTabController.showReplyForm(rfiView.getAppId, rfiView.getRfiId).withFragment("reply")" class="rfi-reply-link"><span class="icon-reply"></span>
        Reply to this message</a>
    }
  </article>
</div>
