@import template._
@import models.view.SielDetailsView

@(sielDetailsView: SielDetailsView)
<div class="application-summary-panel">
  <h2 class="heading-medium">
    <abbr title="Standard Individual Export Licence">SIEL</abbr>
  </h2>
  <dl class="summary-list no-wrap-keys">
    @summaryElement("Reference"){
      @sielDetailsView.getCaseReference<br>
      @sielDetailsView.getApplicantReference
    }

    @summaryElement("Licence type"){ @sielDetailsView.getLicenceType }

    @summaryElement("Licence status"){ @sielDetailsView.getSielStatus }

    @summaryElement("Licence document"){ <a href="#">Download licence (PDF)</a> }

    @summaryElement("Issue date"){ @sielDetailsView.getIssueDate }

    @summaryElement("Expiry date"){ @sielDetailsView.getExpiryDate }

    @summaryElement("Export destination"){ @sielDetailsView.getExportDestinations }

    @summaryElement("Site"){ @sielDetailsView.getSite }

    @summaryElement("Licensee"){ @sielDetailsView.getLicensee }
  </dl>
</div>