@import template._
@import models.view.SielDetailsView

@(sielDetailsView: SielDetailsView)
<div class="application-summary-panel">

  <div class="heading-medium" id="summary-panel-app-ref">
    <abbr title="Standard Individual Export Licence">SIEL</abbr> reference
  </div>
  <div class="font-medium" aria-labelledby="summary-panel-app-ref">
    @sielDetailsView.getCaseReference<br>
    @sielDetailsView.getApplicantReference
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      @summaryElement("licence-type", "Licence type"){ @sielDetailsView.getLicenceType }
    </div>

    <div class="column-one-third">
      @summaryElement("licence-status", "Licence status"){ @sielDetailsView.getSielStatus }
    </div>

    <div class="column-one-third">
      @summaryElement("licence-document", "Licence document"){ <a href="#">Download licence (PDF)</a> }
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      @summaryElement("issue-date", "Issue date"){ @sielDetailsView.getIssueDate }
    </div>

    <div class="column-one-third">
      @summaryElement("expiry-date", "Expiry date"){ @sielDetailsView.getExpiryDate }
    </div>

    <div class="column-one-third">
      @summaryElement("export-destination", "Export destination"){ @sielDetailsView.getExportDestinations }
    </div>

  </div>

  <div class="grid-row">

    <div class="column-one-third">
      @summaryElement("licence-site", "Site"){ @sielDetailsView.getSite }
    </div>

    <div class="column-one-third">
      @summaryElement("licensee", "Licensee"){ @sielDetailsView.getLicensee }
    </div>

  </div>

</div>