@import models.view.StatusItemView
@import models.view.StatusTrackerView
@import template._

@(statusTrackerView: StatusTrackerView)

@if(!statusTrackerView.getCaseStatusItemViews.isEmpty) {
  <div class="bold-medium">Changes since your application was completed<p></p></div>
  @for(caseStatusItemViews <- statusTrackerView.getCaseStatusItemViews) {
    <table class="table-hidden-head status-tracker-table table-align-top">
      <thead>
      <tr>
        <th>Application stage</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        @for(statusItemView <- caseStatusItemViews) {
          @statusTrackerRow(statusItemView)
        }
    </tbody>
  </table>
  <br><br><br>
  }
}

@if(!statusTrackerView.getCaseStatusItemViews.isEmpty) {
  <div class="bold-medium">Your original application<p></p></div>
} else {
  <p>Track the stages of your application.</p>
}

<table class="table-hidden-head status-tracker-table table-align-top">
  <thead>
    <tr>
      <th>Application stage</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for(statusItemView <- statusTrackerView.getOriginalStatusItemViews) {
      @statusTrackerRow(statusItemView)
    }
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td role="note" id="status-tracker-footnote">
        * Times shown exclude non-working days and any time when the application was with you waiting for your reply to a
        request for information
      </td>
    </tr>
  </tfoot>
</table>

