@import models.enums.ApplicationProgress
@import models.view.ApplicationListView

@(applicationListView: ApplicationListView)

<div class="table-filters">
  Show:
  <ul>
    <li @if(applicationListView.getApplicationProgress == ApplicationProgress.DRAFT) {
      class="active"}>
      <a href="@applicationListView.getRoute.setApplicationProgress(ApplicationProgress.DRAFT).toString">
        Draft (@applicationListView.getDraftCount)
      </a>
    </li>
    <li @if(applicationListView.getApplicationProgress == ApplicationProgress.CURRENT) {
      class="active"}>
      <a href="@applicationListView.getRoute.setApplicationProgress(ApplicationProgress.CURRENT).toString">
        Current (@applicationListView.getCurrentCount)
      </a>
    </li>
    <li
      @if(applicationListView.getApplicationProgress == ApplicationProgress.COMPLETED) {
        class="active"}>
      <a href="@applicationListView.getRoute.setApplicationProgress(ApplicationProgress.COMPLETED).toString">
        Completed (@applicationListView.getCompletedCount)
      </a>
    </li>
    <li @if(applicationListView.getApplicationProgress == null) {
      class="active" }>
      <a href="@applicationListView.getRoute.setApplicationProgress(null).toString">
      All (@applicationListView.getAllCount)
      </a>
    </li>
  </ul>
</div>
