<div class="scrollable-table">
  <table class="table-font-xsmall table-align-top licenc">
    <thead>
      <tr>
        <th>
          <a href="#">Reference</a>
        </th>
        <th>
          <a href="#">Licensee</a>
        </th>
        <th>
          <a href="#">Site</a>
        </th>
        <th>
          <a href="#">Registration date</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <a href="/licence/OGL2017/417253" class="bold">OGL2017/417253</a><br>
          Military and dual-use goods: UK forces deployed in nine embargoed destinations
        </th>
        <td>
          Deep Blue Limited
        </td>
        <td>
          Coventry site
        </td>
        <td class="bold">
          23 Aug 2017
        </td>
      </tr>
    </tbody>
  </table>
</div>