@import models.view.OgelRegistrationListView
@import util._
@(tab: String, ogelRegistrationListView: OgelRegistrationListView)
<div class="scrollable-table">
  <table class="table-font-xsmall table-align-top">
    <thead>
      <tr>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextReference().toString">
            Reference
          </a>
          @sortArrow(ogelRegistrationListView.getReference)
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextLicensee.toString">
            Licensee
          </a>
          @sortArrow(ogelRegistrationListView.getLicensee)
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextSite.toString">
            Site
          </a>
          @sortArrow(ogelRegistrationListView.getSite)
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextRegistrationDate.toString">
            Registration date
          </a>
          @sortArrow(ogelRegistrationListView.getRegistrationDate)
        </th>
      </tr>
    </thead>
    <tbody>
    @for(ogelRegistrationItemView <- ogelRegistrationListView.getPage.getItems) {
      <tr>
        <th scope="row">
          <a href="@routes.LicenseListController.licenceDetails(ogelRegistrationItemView.getRegistrationReference)" class="bold">@ogelRegistrationItemView.getRegistrationReference</a>
          <br>
          @ogelRegistrationItemView.getDescription
        </th>
        <td>
        @ogelRegistrationItemView.getLicensee
        </td>
        <td>
        @ogelRegistrationItemView.getSite
        </td>
        <td class="bold">
        @ogelRegistrationItemView.getRegistrationDate
        </td>
      </tr>
    }
    </tbody>
  </table>

  <p></p>
  <table>
    <tr>
      @if(ogelRegistrationListView.getPage.getTotal != 0) {
        <td align="left" width="100%" style="border: 0">
          Showing @ogelRegistrationListView.getPage.getFrom - @ogelRegistrationListView.getPage.getTo of @ogelRegistrationListView.getPage.getTotal licences
        </td>
      }
      @if(ogelRegistrationListView.getPage.getPageCount != 1) {
        <td align="right" nowrap style="padding: 0;
          margin: 0;
          border: 0">
          @for(i <- 1 to ogelRegistrationListView.getPage.getPageCount) {
            @if(i != ogelRegistrationListView.getPage.getCurrentPage) {
              <a href="@ogelRegistrationListView.getLicenceRoute.setPage(i).toString">@i</a>
            } else {
              @i
            }
            @if(i < ogelRegistrationListView.getPage.getPageCount) {
              <span style="display: inline-block;
                width: 1em"> </span>
            }
          }
          @if(ogelRegistrationListView.getPage.getCurrentPage < ogelRegistrationListView.getPage.getPageCount) {
            <span style="display: inline-block;
              width: 1em"> </span>
            <a href="@ogelRegistrationListView.getLicenceRoute.setPage(ogelRegistrationListView.getPage.getCurrentPage + 1).toString">
              Next
            </a>
          }
        </td>
      }
    </tr>
  </table>
</div>