@import models.enums.LicenceSortType
@import models.view.OgelRegistrationListView
@import template._
@(ogelRegistrationListView: OgelRegistrationListView)
<div class="scrollable-table">
  <table class="table-font-xsmall table-align-top">
    <thead>
      <tr>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextSort(LicenceSortType.REFERENCE).toString">
            Reference
          </a>
          @if(ogelRegistrationListView.getLicenceSortType == LicenceSortType.REFERENCE) {
            @sortArrow(ogelRegistrationListView.getSortDirection)
          } else {
            @sortArrow(null)
          }
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextSort(LicenceSortType.LICENSEE).toString">
            Licensee
          </a>
          @if(ogelRegistrationListView.getLicenceSortType == LicenceSortType.LICENSEE) {
            @sortArrow(ogelRegistrationListView.getSortDirection)
          } else {
            @sortArrow(null)
          }
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextSort(LicenceSortType.SITE).toString">
            Site
          </a>
          @if(ogelRegistrationListView.getLicenceSortType == LicenceSortType.SITE) {
            @sortArrow(ogelRegistrationListView.getSortDirection)
          } else {
            @sortArrow(null)
          }
        </th>
        <th>
          <a href="@ogelRegistrationListView.getLicenceRoute.nextSort(LicenceSortType.DATE).toString">
            Registration date
          </a>
          @if(ogelRegistrationListView.getLicenceSortType == LicenceSortType.DATE) {
            @sortArrow(ogelRegistrationListView.getSortDirection)
          } else {
            @sortArrow(null)
          }
        </th>
      </tr>
    </thead>
    <tbody>
    @for(ogelRegistrationItemView <- ogelRegistrationListView.getPage.getItems) {
      <tr>
        <th scope="row">
          <a href="@routes.LicenceListController.licenceDetails(ogelRegistrationItemView.getRegistrationReference)" class="bold">@ogelRegistrationItemView.getRegistrationReference</a>
          <br>
          @ogelRegistrationItemView.getDescription
        </th>
        <td>
        @ogelRegistrationItemView.getLicensee
        </td>
        <td>
        @ogelRegistrationItemView.getSite
        </td>
        <td class="bold">
        @ogelRegistrationItemView.getRegistrationDate
        </td>
      </tr>
    }
    </tbody>
  </table>

  <p></p>

  @ogelListFooter(ogelRegistrationListView)

</div>
