<div class="scrollable-table">
  <table class="table-font-xsmall table-align-top licenc">
    <thead>
      <tr>
        <th>
          <a href="#">Reference</a>
        </th>
        <th>
          <a href="#">Licensee</a>
        </th>
        <th>
          <a href="#">Expiry date</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <a href="/licence/GBSIE2017/417253" class="bold">GBSIE2017/417253</a><br>
          Purchase order: GB93862929 Some export name
        </th>
        <td>
          Deep Blue Limited
        </td>
        <td class="bold">
          23 Aug 2017
        </td>
      </tr>
    </tbody>
  </table>
</div>