@import java.util

@import models.view.{AddRfiResponseView, RfiView}
@import page._
@import play.data.Form

@(rfiViews: util.List[RfiView], rfiResponseForm: Form[_], addRfiResponseView: AddRfiResponseView)

  @for(rfiView <- rfiViews) {
    @rfiPanel(rfiView)
    @if(addRfiResponseView != null && addRfiResponseView.getRfiId == rfiView.getRfiId) {
      @addRfiReplyPanel(rfiView.getAppId, rfiView.getRfiId, rfiResponseForm, addRfiResponseView)
    }
    @if(rfiView.getRfiResponseView != null) {
      @rfiReplyPanel(rfiView.getRfiResponseView)
    }
  }
