@import models.view.AddRfiResponseView
@import play.data.Form
@import views.html.common.form._

@(appId: String, rfiId: String, rfiResponseForm: Form[_], addRfiResponseView: AddRfiResponseView)

<div class="message-panel message-reply-panel" id="reply" >
  <header>

    <div class="grid-row">

      <div class="column-one-half">
        <h3 class="heading-small">Reply from you...</h3>
      </div>

      <div class="column-one-half message-reply-sender">
        <span class="heading-small">
        </span>
        <span>
          @addRfiResponseView.getSentAt
        </span>
      </div>

    </div>

  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>

      <form action="@routes.ApplicationDetailsController.submitReply(appId)" method="POST">
        @formTextarea(rfiResponseForm("responseMessage"), rows = "4", cssClass = "form-control-wide") {

        }
        <input type="hidden" name="rfiId" value="@rfiResponseForm("rfiId").value" >

        <button class="button">Send</button>

      </form>

    </div>
  </article>

</div>
