@import models.view.ApplicationSummaryView
@import page._

@(applicationSummaryView: ApplicationSummaryView)

<h2 class="visually-hidden">Application summary</h2>
<header class="application-summary-panel">

  <a href="#" class="view-application-link">View application<span class="visually-hidden"> (Opens in a new tab)</span></a>

  <div class="heading-medium" id="summary-panel-app-ref">
    Application reference
  </div>
  <div class="font-medium" aria-labelledby="summary-panel-app-ref">
    @applicationSummaryView.getCaseId
  <br>
  @applicationSummaryView.getCaseDescription
  </div>

  <div class="grid-row">

    <div class="column-one-quarter">
    @summaryElement("summary-panel-destination", "Destination") {
      @applicationSummaryView.getDestination
    }
    </div>

    <div class="column-one-quarter">
    @summaryElement("submitted-date", "Date submitted") {
      @applicationSummaryView.getDateSubmitted
    }
    </div>

    <div class="column-one-quarter">
    @summaryElement("summary-panel-status", "Status") {
      @applicationSummaryView.getStatus
    }
    </div>

    <div class="column-one-quarter">
    @summaryElement("summary-panel-case-officer", "Case officer") {
      @applicationSummaryView.getCaseOfficer
    }
    </div>

  </div>

</header>
