@import page._

@(applicationRef: String, exporterRef: String, destination: String, submittedDate: String, status: String, caseOfficer: String)

<h2 class="visually-hidden">Application summary</h2>
<header class="application-summary-panel">

  <a href="somepage" class="view-application-link" target="_blank">View application<span class="visually-hidden"> (Opens in a new tab)</span></a>

  <div class="heading-medium" id="summary-panel-app-ref">
    Application reference
  </div>
  <div class="font-medium" aria-labelledby="summary-panel-app-ref">
    @applicationRef<br>
    @exporterRef
  </div>

  <div class="grid-row">

    <div class="column-one-quarter">
      @summaryElement("summary-panel-destination", "Destination"){ @destination }
    </div>

    <div class="column-one-quarter">
      @summaryElement("submitted-date", "Date submitted"){ @submittedDate }
    </div>

    <div class="column-one-quarter">
      @summaryElement("summary-panel-status", "Status"){ @status }
    </div>

    <div class="column-one-quarter">
      @summaryElement("summary-panel-case-officer", "Case officer"){ @caseOfficer }
    </div>

  </div>

</header>