@import models.view.RfiView

@(rfiView: RfiView)

<div class="message-panel" id=@rfiView.getRfiId>
  <header>
    <h3 class="heading-small"><span class="rfi-icon"></span>
      <abbr title="Request for information">RFI</abbr></h3>

    <div class="grid-row">

      <div class="column-two-thirds">
        <span class="heading-small">
          Received on:
        </span>
        <span>
        @rfiView.getReceivedOn
        </span>
      </div>

      <div class="column-one-third">
        <span class="heading-small">
          Sender:
        </span>
        <span>
        @rfiView.getSender
        </span>
      </div>

    </div>

    <span class="heading-small">
      Reply by:
    </span>
    <span>
    @rfiView.getReplyBy
    </span>

  </header>

  <article>
    <h4 class="heading-small">Message</h4>
    <div>
    @Html(rfiView.getMessage)
    </div>

    <a href="@routes.ApplicationDetailsController.reply(rfiView.getAppId, rfiView.getRfiId).withFragment("reply")" class="rfi-reply-link"><span class="icon-reply"></span>
      Reply to this message</a>
  </article>
</div>
