@import models.view.StatusItemView
@import page._

@(statusItemView: StatusItemView)
<tr>
  <td class="status-table-stage">
    <div class="bold-medium">@statusItemView.getStatus</div>
    @if(statusItemView.getStatusExplanation != "") {
      <p>@statusItemView.getStatusExplanation</p>
    }
    @for(statusItemRfiView <- statusItemView.getStatusItemRfiViews) {
      @rfiLabel(routes.RfiTabController.rfiTab(statusItemRfiView.getAppId).withFragment(statusItemRfiView.getRfiId).toString,
        statusItemRfiView.getDescription)
    }
  </td>
  <td class="status-table-status">
    @statusItemView.getProcessLabel match {
      case "Finished" => {
        @statusLabel("Finished", "finished")
      }
      case "In progress" => {
        @statusLabel("In progress", "progress")
      }
      case "Not started" => {
        @statusLabel("Not started", "neutral")
      }
      case default => {
        @statusLabel(default, "neutral")
      }
    }
    @if(statusItemView.getProcessLabel != null) {
      <p class="secondary-text">@Html(statusItemView.getProcessDescription)</p>
    }
  </td>
</tr>
