.application-summary-panel {
  background: $grey-4;
  margin: $gutter-two-thirds 0 $gutter*2 0;
  padding: $gutter $gutter-two-thirds $gutter+$gutter-half $gutter-two-thirds;
  
  .view-application-link {
    float: right;
  }

  .heading-medium {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .grid-row {
    margin-top: 1em;
  }
}