.application-summary-panel {
  background: $grey-4;
  margin-bottom: $gutter;
  padding: $gutter-two-thirds;
  
  .view-application-link {
    float: right;
  }

  .heading-medium {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .grid-row {
    margin-top: 1em;
  }
}