.event-label {
  background: $highlight-colour;
  padding: 0.5em 1em 0.5em 2.5em;
  display: inline-block;

  &.with-top-margin {
    margin-top: $gutter-half;
  }

  @include link-underline-on-hover;

  a {
    white-space: nowrap;
  }

  *[class$="-icon"] {
    margin-left: -1.7em;
    vertical-align: -0.3em;

    @include media(mobile) {
      vertical-align: -0.2em;
    }
  }
}

$total-icon-count: 7;

@mixin event-label-icon($index) {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
  position: relative;
  background-image: url(../images/status-label-icons.svg);
  background-position-x: (100% / ($total-icon-count - 1)) * $index;
  background-size: cover;
  vertical-align: -0.2em;

  @include media(mobile) {
    width: 18px;
    height: 18px;
  }

  &.large-icon {
    width: 27px;
    height: 27px;
    vertical-align: -0.3em;

    @include media(mobile) {
      width: 22px;
      height: 22px;
    }
  }
}

.rfi-icon {
  @include event-label-icon(0);
}

.stopped-icon {
  @include event-label-icon(1);
}

.withdrawal-rejected-icon {
  @include event-label-icon(2);
}

.inform-issued-icon {
  @include event-label-icon(3);
}

.delayed-icon {
  @include event-label-icon(4);
}

.decision-icon {
  @include event-label-icon(5);
}

.amendment-request-icon {
  @include event-label-icon(6);
}