.event-label {
  padding: 0.25em 0 0.25em 0;
  display: inline-block;
  white-space: nowrap;

  &.with-top-margin {
    margin-top: $gutter-one-third;
  }

  &.has-icon {
    padding-left: 1.7em;
  }

  a {
    white-space: nowrap;

    @include media(mobile) {
      white-space: normal;
    }
  }

  *[class$="-icon"] {
    margin-left: -1.7em;
    vertical-align: -0.3em;

    @include media(mobile) {
      vertical-align: -0.2em;
    }
  }
}

.rfi-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
  position: relative;
  background-image: url(../images/icon-rfi.svg);
  background-size: cover;
  vertical-align: -0.2em;

  @include media(mobile) {
    width: 18px;
    height: 18px;
  }

  &.large-icon {
    width: 27px;
    height: 27px;
    vertical-align: -0.3em;

    @include media(mobile) {
      width: 22px;
      height: 22px;
    }
  }
}