.flash {
  border:  5px solid $light-blue;
  background: $light-blue-25;
  margin-top: $gutter;
  padding: $gutter-half $gutter-two-thirds;
  display: inline-block;
  position: relative;
  box-sizing: border-box;

  @include media(mobile) {
    width: 100%;
    padding: $gutter-one-third $gutter-half;
  }

  .flash-heading {
    @include bold-24;
  }

  .flash-detail {
    margin-top: $gutter-one-third;
  }
}

.success-flash {
  border-color: $green;
  background: $green-25;
}
