.pagination {
  margin-top: $gutter;
}

nav.pagination-links {
  @include media(tablet) {
    float: right;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      @include link-underline-on-hover;

      a {
        padding: 0 0.25em;

        &[aria-current=true] {
          color: $black;
          text-decoration: none;
        }
      }

      &:first-child a {
        padding-left: 0;
      }

      &:last-child a {
        padding-right: 0;
      }
    }
  }
}