.rfi-label {
  background: $highlight-colour;
  padding: 0.5em 1em 0.5em 2.5em;
  display: inline-block;

  @include link-underline-on-hover;

  .rfi-icon {
    margin-left: -1.7em;
  }
}

.rfi-icon {
  width: 1.2em;
  height: 1.2em;
  background: $mellow-red;
  display: block;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 0.3em;
  position: relative;

  &:before {
    content: '';
    width: 2px;
    height: 0.65em;
    position: absolute;
    top: 0.35em;
    left: 0.4em;
    background: $grey-4;
  }

  &:after {
    content: '';
    width: 0.5em;
    height: 0.35em;
    position: absolute;
    top: 0.25em;
    left: 0.4em;
    background: $grey-4;
    border-radius: 0.1em;
  }
}