.status-label {
  @include core-19;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  padding: 0.2em 0.5em 0em 0.5em;
  box-sizing: border-box;
}

.status-label-neutral {
  background: $grey-3;
}

.status-label-progress {
  background: $orange;
  color: $white;
}

.status-label-finished {
  background: $turquoise;
  color: $white;
}

.status-label-stopped {
  background: $red;
  color: $white;
}
