.tabs-float-container {
  @extend %contain-floats;
  margin: 0 -#{$gutter-half} $gutter -#{$gutter-half};
}

.tabs-nav {
  list-style: none;

  li {
    @include core-16();
    @include link-underline-on-hover;

    a {
      padding: 1em;
      background: $panel-colour;
      display: block;
      border-top: 1px solid $border-colour;

      &:hover {
        background: $border-colour;
        border-color: $border-colour;
        color: $link-hover-colour;
      }
    }

    &.active a {
      background: #fff;
      color: $text-colour;
      
      &:hover {
        text-decoration: none;
      }
    }

    &:last-child a {
      border-bottom: 1px solid $border-colour;
    }
  }

  &.large-tabs li {
    @include core-19();
  }
}

@include media(tablet) {
  .tabs-float-container {
    @extend %contain-floats;
    margin: 0 0 $gutter 0;
  }

  .nav-tabs {
    position: relative;
    float: left;
    width: 100%;
  }

  .tabs-nav {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid $border-colour;

    &.fit-tabs-to-page {
      display: table;
      border: none;

      li {
        display: table-cell;
        float: none;
      }
    }

    //Clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    li {
      @include core-16();
      padding: 0;
      margin: 0 0 -1px 0;
      float: left;

      a {
        text-align: center;
        border: solid 1px $panel-colour;
        border-bottom-color: $border-colour;
        float: left;
        min-height: 2.25em;
        position: relative;
        top: 0;
        background: $panel-colour;
        width: 100%;
        box-sizing: border-box;
        padding: 0.8em 1em 0.5em 1em
      }

      &.active a {
        border-color: $border-colour;
        border-bottom-color: #fff;
      }
    }

    &.wide-tabs li a {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}