th {
  @include link-underline-on-hover;
}

.table-align-top {
  th {
    vertical-align: bottom;
  }

  td,
  tbody th {
    vertical-align: top;
  }
}

.scrollable-table {
  overflow-x: auto;
}

.table-hidden-head {
  thead {
    @include visually-hidden;
  }

  tbody tr:first-child {
    td, th {
      border-top: 1px solid $border-colour;
    }
  }
}

.status-tracker-table {
  td {
    padding: em(24, 19) em(20, 19) em(16, 19) 0;

    &.status-table-stage p {
      max-width: 24em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.status-table-status {
      width: 35%;
    }
  }

  .bold-medium {
    margin-bottom: 0.5em;
  }

  .status-label {
    margin-top: -0.22em;
    margin-bottom: $gutter-one-third;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.sort-arrow {
  display: inline-block;
  width: 0.5em;
}

th[aria-sort] {
  white-space: nowrap;

  a {
    display: inline-block;
    padding-right: 1em;
  }

  &:after {
    content: '\25BC';
    color: $grey-2;
    font-size: 0.8em;
    transform: scaleY(0.8);
    display: inline-block;
    margin-left: -1em;
    text-decoration: none;
    pointer-events: none;
  }
}

th[aria-sort=ascending]:after {
  content: '\25B2';
  color: $link-colour;
}

th[aria-sort=descending]:after {
  content: '\25BC';
  color: $link-colour;
}

.row-header-secondary-info {
  font-weight: normal;
}
