a:visited {
  color: $link-colour;
}

.different-visited-colour:visited {
  color: $link-visited-colour;
}

.no-wrap {
  white-space: nowrap;
}

.heading-medium.dashboard-section-heading {
  margin-top: em(13, 20);
}

.secondary-text {
  color: $secondary-text-colour;
}

.telephone-number {
  .telephone-number-text {
    display: none;
  }

  @include media(tablet) {
    a {
      display: none;
    }

    .telephone-number-text {
      display: inline;
    }
  }
}

.outcome-documents-list li {
  margin: 1em 0;
  @include link-underline-on-hover;
}
