@import models.enums.ApplicationListTab
@import models.view.ApplicationListView
@import template._
@import com.google.inject.name.Named

@this(@Named("licenceApplicationAddress") licenceApplicationAddress: String, standardPage: standardPage, dashboardTopNav: dashboardTopNav)
@(applicationListView: ApplicationListView)

@standardPage("Export licence application management", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

} {

  @dashboardTopNav()

  <div class="heading-medium dashboard-section-heading">Applications</div>

  @if(applicationListView.isHasUserApplications && !applicationListView.isHasOtherUserApplications && !applicationListView.isHasForYourAttentionApplications) {
    <p>
      <h3 class="heading-small">Created by you</h3>
    </p>
  }

  @if(!applicationListView.isHasUserApplications && applicationListView.isHasOtherUserApplications && !applicationListView.isHasForYourAttentionApplications) {
    <p>
      <h3 class="heading-small">Created by your company</h3>
    </p>
  }

  @if((applicationListView.isHasUserApplications && applicationListView.isHasOtherUserApplications) ||
      ((applicationListView.isHasUserApplications || applicationListView.isHasOtherUserApplications) && applicationListView.isHasForYourAttentionApplications)) {
    @tabs("application-list-tabs", size = "large", width = "wide") {
      @if(applicationListView.isHasUserApplications) {
        @tab("Created by you",
          applicationListView.getRoute.setApplicationListTab(ApplicationListTab.USER).toString,
          applicationListView.getApplicationListTab == ApplicationListTab.USER)
      }
      @if(applicationListView.isHasOtherUserApplications) {
        @tab("Created by your company",
          applicationListView.getRoute.setApplicationListTab(ApplicationListTab.COMPANY).toString,
          applicationListView.getApplicationListTab == ApplicationListTab.COMPANY)
      }
      @if(applicationListView.isHasForYourAttentionApplications) {
        @tab("For your attention",
          applicationListView.getRoute.setApplicationListTab(ApplicationListTab.ATTENTION).toString,
          applicationListView.getApplicationListTab == ApplicationListTab.ATTENTION)
      }
    }
  }

  @if(!applicationListView.isHasUserApplications && !applicationListView.isHasOtherUserApplications) {

    You have no applications.
    <p><a href="@licenceApplicationAddress" target="_blank">Apply for a standard licence</a></p>

  } else {
    @if(applicationListView.getApplicationListTab == ApplicationListTab.USER || applicationListView.getApplicationListTab == ApplicationListTab.COMPANY) {
      @if(applicationListView.getCompanySelectItemViews.size() > 1 ||
        (applicationListView.getCompanySelectItemViews.size() == 1 && applicationListView.isHasApplicationWithNoCompanyId)) {
        @companySelect(applicationListView)
      }
      @statusPanel(applicationListView)
    }

    @if(!applicationListView.getPage.getItems.isEmpty) {
      @applicationListTable(applicationListView)
    } else {
      @if(applicationListView.getApplicationListTab == ApplicationListTab.USER) {
        There are no @applicationListView.getApplicationProgress.toString applications created by you.
      } else {
        There are no @applicationListView.getApplicationProgress.toString applications created by your company.
      }
    }

    <p>
    @paginationControls(applicationListView, applicationListView.getPage, "applications")
    </p>

  }

}
