@import models.enums.StatusTypeFilter
@import models.view.ApplicationListView
@import page._
@import util._
@(activeTab: String, applicationListView: ApplicationListView)
@standardPage("Export licence application management", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

} {

  @dashboardTopNav()

  <div class="heading-medium">Applications</div>

  @tabs("application-list-tabs", size = "large", width = "wide") {
    @tab("Created by you", routes.Application.applicationList(
      Option("created-by-you"),
      Option(applicationListView.getDateSortDirection),
      Option(applicationListView.getStatusSortDirection),
      Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
      Option(applicationListView.getCompanyId)
    ).toString,
      activeTab.equals("created-by-you"))
    @tab("Created by your company", routes.Application.applicationList(
      Option("created-by-your-company"),
      Option(applicationListView.getDateSortDirection),
      Option(applicationListView.getStatusSortDirection),
      Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
      Option(applicationListView.getCompanyId)
    ).toString,
      activeTab.equals("created-by-your-company"))
  }

  <div class="form-group">
    <label class="form-label left-label" for="select-box">Filter by company name</label>
    <select class="form-control" id="select-box" name="select-box">
      <option @if(applicationListView.getCompanyId == null) {
        selected="selected"
      } value="@routes.Application.applicationList(
        Option(activeTab),
        Option(applicationListView.getDateSortDirection),
        Option(applicationListView.getStatusSortDirection),
        Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
        Option(null)
      ).toString">All companies</option>
      @for(companySelectItemView <- applicationListView.getCompanySelectItemViews) {
        <option @if(companySelectItemView.getCompanyId == applicationListView.getCompanyId) {
          selected="selected"
        } value="@routes.Application.applicationList(
          Option(activeTab),
          Option(applicationListView.getDateSortDirection),
          Option(applicationListView.getStatusSortDirection),
          Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
          Option(companySelectItemView.getCompanyId)
        ).toString">@companySelectItemView.getCompanyName</option>
      }
    </select>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#select-box").change(function () {
          location = $("#select-box").find("option:selected").val();
        });
      });
    </script>
  </div>

  <div class="table-filters">
    Show:
    <ul>
      <li @if(applicationListView.getStatusTypeFilter == StatusTypeFilter.ALL) {
        class="active" }>
        <a href="@routes.Application.applicationList(
          Option(activeTab),
          Option(applicationListView.getDateSortDirection),
          Option(applicationListView.getStatusSortDirection),
          Option.empty,
          Option(applicationListView.getCompanyId))">
          All (@applicationListView.getAllCount)
        </a>
      </li>
      <li @if(applicationListView.getStatusTypeFilter == StatusTypeFilter.DRAFT) {
        class="active" }>
        <a href="@routes.Application.applicationList(
          Option(activeTab),
          Option(applicationListView.getDateSortDirection),
          Option(applicationListView.getStatusSortDirection),
          Option(StatusTypeFilter.DRAFT.toString.toLowerCase()),
          Option(applicationListView.getCompanyId))">
          Draft (@applicationListView.getDraftCount)
        </a>
      </li>
      <li @if(applicationListView.getStatusTypeFilter == StatusTypeFilter.CURRENT) {
        class="active" }>
        <a href="@routes.Application.applicationList(
          Option(activeTab),
          Option(applicationListView.getDateSortDirection),
          Option(applicationListView.getStatusSortDirection),
          Option(StatusTypeFilter.CURRENT.toString.toLowerCase()),
          Option(applicationListView.getCompanyId))">
          Current (@applicationListView.getCurrentCount)
        </a>
      </li>
      <li @if(applicationListView.getStatusTypeFilter == StatusTypeFilter.COMPLETED) {
        class="active" }><a href="@routes.Application.applicationList(
        Option(activeTab),
        Option(applicationListView.getDateSortDirection),
        Option(applicationListView.getStatusSortDirection),
        Option(StatusTypeFilter.COMPLETED.toString.toLowerCase()),
        Option(applicationListView.getCompanyId))">
        Completed (@applicationListView.getCompletedCount)
      </a>
      </li>
    </ul>
  </div>

  <div class="scrollable-table">
    <table class="table-font-xsmall table-align-top">
      <thead>
        <tr>
          <th nowrap>
            <a href="@routes.Application.applicationList(Option(activeTab),
              Option(applicationListView.getNextDateSortDirection),
              Option.empty,
              Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
              Option(applicationListView.getCompanyId))">
              Date submitted
            </a>
            <span class="sort-arrow">
            @applicationListView.getDateSortDirection match {
              case "asc" => { &#9651 }
              case "desc" => { &#9661 }
              case default => {}
            }
            </span>
          </th>
          <th>References</th>
          <th>
            <a href="@routes.Application.applicationList(Option(activeTab),
              Option.empty,
              Option(applicationListView.getNextStatusSortDirection),
              Option(applicationListView.getStatusTypeFilter.toString.toLowerCase),
              Option(applicationListView.getCompanyId))">
              Application status
            </a>
            <span class="sort-arrow">
            @applicationListView.getStatusSortDirection match {
              case "asc" => { &#9651 }
              case "desc" => { &#9661 }
              case default => {}
            }
            </span>
          </th>
          <th>
            Destination
          </th>
        </tr>
      </thead>
      <tbody>
      @for(applicationItemView <- applicationListView.getApplicationItemViews) {
        <tr>
          <th scope="row">@applicationItemView.getDateSubmitted</th>
          <td>
            <a href="@routes.LicenseApplicationController.statusTab(applicationItemView.getAppId)" class="bold">@applicationItemView.getAppId</a>
            <br>
            @applicationItemView.getCaseDescription
          </td>
          <td>
            <p>
              @applicationItemView.getApplicationStatus <br>
            @applicationItemView.getApplicationStatusDate
            </p>
            @if(applicationItemView.getOpenRfiId != null) {
              @rfiLabel(routes.LicenseApplicationController.rfiTab(applicationItemView.getAppId).withFragment(applicationItemView.getOpenRfiId).toString)
            }
          </td>
          <td>
          @applicationItemView.getDestination
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}