@import models.enums.StatusTypeFilter
@import models.view.ApplicationListView
@import page._
@import play.data.Form
@import util._
@import models.enums.ApplicationListTab
@(applyLink: String, applicationListView: ApplicationListView)
@standardPage("Export licence application management", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

} {

  @dashboardTopNav(applyLink)

  <div class="heading-medium">Applications</div>

  @tabs("application-list-tabs", size = "large", width = "wide") {
    @tab("Created by you",
      applicationListView.getApplicationRoute.setApplicationListTab(ApplicationListTab.USER).toString,
      applicationListView.getApplicationListTab == ApplicationListTab.USER)
    @tab("Created by your company",
      applicationListView.getApplicationRoute.setApplicationListTab(ApplicationListTab.COMPANY).toString,
      applicationListView.getApplicationListTab == ApplicationListTab.COMPANY)
  }

  @companySelect(applicationListView)

  @statusPanel(applicationListView)

  <div class="scrollable-table">
    <table class="table-font-xsmall table-align-top">
      <thead>
        <tr>
          <th nowrap>
            <a href="@applicationListView.getApplicationRoute.nextDate().toString">
              Date submitted
            </a>
            @sortArrow(applicationListView.getDate)
          </th>
          <th>
            References
          </th>
          <th nowrap>
            <a href="@applicationListView.getApplicationRoute.nextStatus().toString">
              Application status
            </a>
            @sortArrow(applicationListView.getStatus)
          </th>
          <th>
            Destination
          </th>
          @if(applicationListView.getApplicationListTab == ApplicationListTab.COMPANY) {
            <th nowrap>
              <a href="@applicationListView.getApplicationRoute.nextCreatedBy().toString">
                Created by
              </a>
              @sortArrow(applicationListView.getCreatedBy)
            </th>
          }
        </tr>
      </thead>
      <tbody>
      @for(applicationItemView <- applicationListView.getPage.getItems) {
        <tr>
          <th scope="row">
          @applicationItemView.getDateSubmitted
          </th>
          <td>
            <a href="@routes.ApplicationDetailsController.statusTab(applicationItemView.getAppId)" class="bold">
            @applicationItemView.getAppId
            </a>
            <br>
            @applicationItemView.getCaseDescription
          </td>
          <td>
            <p>
              @applicationItemView.getApplicationStatus
            <br>
            @applicationItemView.getApplicationStatusDate
            </p>
            @if(applicationItemView.getOpenRfiId != null) {
              @rfiLabel(routes.ApplicationDetailsController.rfiTab(applicationItemView.getAppId).withFragment(applicationItemView.getOpenRfiId).toString)
            }
          </td>
          <td>
          @applicationItemView.getDestination
          </td>
          @if(applicationListView.getApplicationListTab == ApplicationListTab.COMPANY) {
            <td>
            @applicationItemView.getApplicantReference
            </td>
          }
        </tr>
      }
      </tbody>
    </table>
  </div>

  </p>
  @applicationListFooter(applicationListView)

}
