@import models.view.InformLetterSectionView
@(informLetterSectionView: InformLetterSectionView)

@if(!informLetterSectionView.getInformLetterViews.isEmpty) {
  <br>
  <h3 id="inform-letters" class="heading-small">Inform letters
  @if(informLetterSectionView.isShowNewIndicator) {
    <span class="new-indicator">New</span>
  }
  </h3>
  <ul class="outcome-documents-list">
  @for(informLetterView <- informLetterSectionView.getInformLetterViews) {
    <li><a href="@informLetterView.getLink" target="_blank">@informLetterView.getName <span class="visually-hidden">(opens in a new tab)</span></a></li>
  }
  </ul>
}