@import licenceListTabs._
@import models.view.OgelRegistrationListView
@import page._
@import util._
@import models.enums.LicenceListTab
@(applyLink: String, licenceListTab: LicenceListTab, ogelRegistrationListView: OgelRegistrationListView)
  @standardPage("Licences", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

  } {

    @dashboardTopNav(applyLink)

    @tabs("licences-tabs", size = "large", width = "wide") {
      @tab("SIELs", "/licences?tab=siels", licenceListTab == LicenceListTab.SIELS)
      @tab("OGELs", "/licences?tab=ogels", licenceListTab == LicenceListTab.OGELS)
    }

    @licenceListTab match {
      case LicenceListTab.SIELS => {
        @sielList()
      }
      case LicenceListTab.OGELS => {
        @ogelList(ogelRegistrationListView)
      }
    }
  }
