@import util._
@import page._
@import views.html.common.page._
@import licenceDetailTypes._

@(applyLink: String, licenceRef: String)
@standardPage(licenceRef + " - Export licence", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false){

}{

  @dashboardTopNav(applyLink)

  @sielLicenceDetails(
    licenceRef,
    "Purchase order for 20 submersible vehicles to Underwater Fun Ltd Australia",
    "SIEL Permanent",
    "Active",
    "23 Aug 2017",
    "23 Aug 2018",
    "5 destinations",
    "Coventry site",
    "Deep Blue Limited"
  )
  
}