@import page._
@import util._
@import models.view.ApplicationSummaryView

@(applyLink: String, applicationSummaryView: ApplicationSummaryView, activeTab: String, rfiViewCount: Integer)(content: Html)
@standardPage(applicationSummaryView.getAppId + " - Export licence application", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

} {

  @dashboardTopNav(applyLink)

  @applicationSummaryPanel(
    applicationSummaryView.getAppId,
    applicationSummaryView.getCaseDescription,
    applicationSummaryView.getDestination,
    applicationSummaryView.getDateSubmitted,
    applicationSummaryView.getStatus,
    applicationSummaryView.getCaseOfficer
  )

  @tabs("application-tabs", size = "large", fitToPage = true) {
    @tab("Status tracker", "/application/" + applicationSummaryView.getAppId + "/status-tracker#application-tabs", activeTab.equals("statusTracker"))
    @tab(s"Requests for information ($rfiViewCount)", "/application/" + applicationSummaryView.getAppId + "/rfi#application-tabs", activeTab.equals("rfi"))
    @tab("Amend application", "/application/" + applicationSummaryView.getAppId + "/amend-application#application-tabs", activeTab.equals("amend"))
    @tab("Outcome documents", "/application/" + applicationSummaryView.getAppId + "/outcome-documents#application-tabs", activeTab.equals("outcomeDocs"))
  }

  @content

}