@import licenceListTabs._
@import models.enums.LicenceListTab
@import models.view.LicenceListView
@import template._
@(applyLink: String, licenceListView: LicenceListView)
  @standardPage("Licences", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false) {

  } {

    @dashboardTopNav(applyLink)

    @tabs("licences-tabs", size = "large", width = "wide") {
      @tab("SIELs", licenceListView.getLicenceRoute.setLicenceListTab(LicenceListTab.SIELS).toString, licenceListView.getLicenceListTab == LicenceListTab.SIELS)
      @tab("OGELs", licenceListView.getLicenceRoute.setLicenceListTab(LicenceListTab.OGELS).toString, licenceListView.getLicenceListTab == LicenceListTab.OGELS)
    }

    @licenceListView.getLicenceListTab match {
      case LicenceListTab.SIELS => {
        @if(licenceListView.getSielPage.getItems.isEmpty) {
          No SIELs available.
        } else {
          @sielList(licenceListView)
        }
      }
      case LicenceListTab.OGELS => {
        @if(licenceListView.getOgelPage.getItems.isEmpty) {
          No OGELs available.
        } else {
          @ogelList(licenceListView)
        }
      }
    }
  }
