@import util._
@import page._
@import views.html.common.page._
@import licencesTabs._

@(activeTab: String)
@standardPage("Licences", Some(Html("Export licence application management")), hideBackLink = true, twoThirdsColumn = false){

}{

  @dashboardTopNav()

  @tabs("licences-tabs", size="large", width="wide") {
    @tab("SIELs", "/licences/siels#licences-tabs", activeTab.equals("siels"))
    @tab("OGELs", "/licences/ogels#licences-tabs", activeTab.equals("ogels"))
  }

  @activeTab match {
    case "siels" => { @sielList() }
    case "ogels" => { @ogelList() }
  }
}