@import models.view.{ApplicationSummaryView, MessageView, ApplicationTabsView}
@import template._

@this(applicationDetails: applicationDetails)
@(applicationSummaryView: ApplicationSummaryView, applicationTabsView: ApplicationTabsView, messageViews: java.util.List[MessageView])

@applicationDetails(applicationSummaryView, "messages", applicationTabsView, null) {
  @if(messageViews.isEmpty) {
    <p>You don't have any messages.</p>
  } else {
    @for(messageView <- messageViews) {
      @messagePanel(messageView)
    }
  }
}
