@import models.view.{ApplicationSummaryView, InformLetterView, OutcomeView, ApplicationTabsView, InformLetterSectionView}
@import template._

@this(applicationDetails: applicationDetails)
@(applicationSummaryView: ApplicationSummaryView, applicationTabsView: ApplicationTabsView, isInProgress: Boolean, isStopped: Boolean, isWithdrawn: Boolean, outcomeViews: java.util.List[OutcomeView], informLetterSectionView: InformLetterSectionView)

@applicationDetails(applicationSummaryView, "outcomeDocs", applicationTabsView, null) {
  @if(isInProgress) {
    Your application is still being processed.
    <p>
      Outcome documents will appear here when processing is complete.
    </p>
  }
  @if(isStopped) {
    Your application has been stopped.
  }
  @if(isWithdrawn) {
    You have withdrawn your application.
  }
  @if(isInProgress || isStopped || isWithdrawn) {
    @informLetters(informLetterSectionView)
  } else {
    @outcomeDocuments(outcomeViews, informLetterSectionView)
  }
}
