@import models.view.{AddRfiReplyView, ApplicationSummaryView, RfiView, ApplicationTabsView}
@import play.data.Form
@import template._

@(applyLink: String, applicationSummaryView: ApplicationSummaryView, applicationTabsView: ApplicationTabsView, rfiViews: java.util.List[RfiView], allowReplies: Boolean, rfiReplyForm: Form[_], addRfiReplyView: AddRfiReplyView)

  @applicationDetails(applyLink, applicationSummaryView, "rfi", applicationTabsView, rfiReplyForm) {
    @if(rfiViews.isEmpty) {
      <p>You haven't received any requests for information yet.</p>
    } else {
      @rfiList(rfiViews, allowReplies, rfiReplyForm, addRfiReplyView)
    }
  }
