@import models.view.{AddRfiReplyView, ApplicationSummaryView, RfiView, ApplicationTabsView}
@import play.data.Form
@import template._

@this(applicationDetails: applicationDetails, rfiList: rfiList)
@(applicationSummaryView: ApplicationSummaryView, applicationTabsView: ApplicationTabsView, rfiViews: java.util.List[RfiView], rfiReplyForm: Form[_], addRfiReplyView: AddRfiReplyView)

@applicationDetails(applicationSummaryView, "rfi", applicationTabsView, rfiReplyForm) {
  @if(rfiViews.isEmpty) {
    <p>You haven't received any requests for information yet.</p>
  } else {
    @rfiList(rfiViews, rfiReplyForm, addRfiReplyView)
  }
}
