@import page._

@(licenceRef: String, licenceType: String)
<div class="application-summary-panel">

  <div class="heading-medium" id="summary-panel-app-ref">
    <abbr title="Open General Export Licence">OGEL</abbr> reference
  </div>
  <div class="font-medium" aria-labelledby="summary-panel-app-ref">
    @licenceRef<br>
    @licenceType
  </div>

  <div class="grid-row">
    <div class="column-full">
      @summaryElement("registration-confirmation-letter", "Registration confirmation letter"){ <a href="#">Download letter (PDF)</a> }
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
    Read the <a href="#">full licence</a> for more information on how to use it, what you can export and permitted export destinations
    </div>
  </div>

</div>

Licence summary will go here